body {
    margin: 0;
    font-family: ‘Lucida Grande’, ‘Lucida Sans Unicode’, Lucida, Verdana, Helvetica, Arial, sans-serif;
}

/*
 * Nav bar
 */

nav {
    background-color: #222222;
    padding: 0 1em;
    display: flex;
    align-items: stretch;
}
.nav-title {
    color: white;
    font-size: 1.5em;
    padding: .5em 0;
    margin-right: 1em;
    display: inline-block;
}
.nav-content {
    margin-left: auto;
    display: inline-flex;
    align-items: stretch;
}
.nav-item {
    color: #9d9d9d;
    padding: 0 1em;

    display: flex;
    align-items: stretch;
}
.nav-item:hover {
    color: white;
}
.nav-link {
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
    outline: 0;
}
.nav-item.dropdown > .nav-link:after {
    content: "";
    border-style: solid;
    border-width: .25em .25em 0 .25em;
    border-color: #9d9d9d transparent transparent transparent;
    border-radius: 1px;
    position: relative;
    margin-left: .5em;
}

.dropdown {
    position: relative;
}
.dropdown:hover {
    background-color: black;
}
.dropdown:hover > .nav-link:after {
    border-color: white transparent transparent transparent;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;

    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 0 0 .5em .5em;
    padding: .3em 0;

    position: absolute;
    top: 3.2em;
    right: 0em;
}
.dropdown-menu .nav-item {
    color: #222222;
    text-align: right;

    display: block;
    padding: .5em 1.4em;
    margin: 0;
}
.dropdown-menu .nav-item:hover {
    background-color: #f5f5f5;
}
