.section {
    padding-bottom: 2em;
}
.section-header {
    text-align: center;
    padding: 1.34em 0;
}
.section-header h1 {
    margin: 0;
}

/*
 * Header
 */

header {
    background-color: #CCFFDA;
    margin: 2em 0;
}
header .container {
    min-height: 140px;
    position: relative;
}
.portrait {
    width: 160px;
    height: 160px;
    margin: 0 .5em;

    border-radius: 50%;
    overflow: hidden;
    float: left;
    position: relative;
    top: -15px;
}
.description {
    text-align: justify;
    padding: 0 .5em;
}
@media (max-width: 575px) {
    header {
        background-color: transparent;
    }
    .portrait {
        float: none;
        left: 50%;
        transform: translatex(-50%);
        z-index: 1;
    }
    .description {
        position: relative;
        top: -2em;
        padding: 2em .5em 1em .5em;
        background-color: #CCFFDA;
    }
}

/*
 * Project Section
 */

.project.section {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #F2F2F2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #F2F2F2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #F2F2F2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #F2F2F2); /* Standard syntax */
}
.project-container {
    box-shadow: 2px 2px 14px -5px #6E6E6E inset;
    border-radius: 50px;
    background-color: white;
    padding: 25px 0;
}
.project-item {
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #6E6E6E;
    border: 1px solid white;
    position: relative;
    top: 0; left: 0;
    transition: .3s;

    width: 90%;
    margin: 10px auto;
    height: 200px;
    overflow: hidden;
}
.project-item:after {
    content: ' ';
    display: block;
    background-color: white;
    height: 1.1em;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.project-item:hover {
    box-shadow: 4px 4px 3px 0px #6E6E6E;
    border: 1px solid #F2F2F2;
    top: -3px; left: -3px;
}
.project-item-contents {
    padding: .5em .5em;
}
.project-item-contents h2 {
    color: #3D2B2B;
    margin: 0;
}
.project-item-contents a:hover,.show-link:hover {
    text-decoration: underline;
}
.show-link {
    color: #3C6EB4;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;
}
.hide {
    display: none;
}

/*
 * About Section
 */

.about.section {
    background-color: #F2F2F2;
}
