a:hover, a:focus, a:active {
    outline: 0;
}

/*
 * Nav bar
 */

.nav-item:hover {
    color: white;
}

.dropdown {
    position: relative;
}
.dropdown:hover > .nav-link:after {
    border-color: white transparent transparent transparent;
}
.dropdown-menu {
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 0 0 .5em .5em;
    padding: .3em 0;

    position: absolute;
    top: 3.54em;
    right: 0em;
    z-index: 10;
}
.dropdown.open {
    background-color: black;
    color: white;
}
.dropdown.open .dropdown-menu {
    display: block;
}
.dropdown-menu .nav-item {
    color: #222222;
    text-align: right;

    display: block;
    padding: .5em 1.4em;
    margin: 0;
}
.dropdown-menu .nav-item:hover {
    background-color: #f5f5f5;
}

/*
 * Project Section
 */

.project.section {
    background: white;
    background: -webkit-linear-gradient(white, #F2F2F2);
    background: -o-linear-gradient(white, #F2F2F2);
    background: -moz-linear-gradient(white, #F2F2F2);
    background: linear-gradient(white, #F2F2F2);
}
.project-container {
    box-shadow: 2px 2px 14px -5px #6E6E6E inset;
    border-radius: 50px;
    background-color: white;
    padding: 25px 0;
}
.project-item {
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #6E6E6E;
    border: 1px solid white;
    position: relative;
    top: 0; left: 0;
    transition: .3s;

    width: 90%;
    margin: 10px auto;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 1s;
}
.project-item:after {
    content: ' ';
    display: block;
    background-color: white;
    height: 1.1em;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.project-item:hover {
    box-shadow: 4px 4px 3px 0px #6E6E6E;
    border: 1px solid #F2F2F2;
    top: -3px; left: -3px;
}
.project-item-contents {
    padding: .5em .5em;
}
.project-item-contents h2 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.project-item-contents a {
    color: #3C6EB4;
}
.project-item-contents a:hover,.show-link:hover {
    text-decoration: underline;
}
.show-link {
    color: #3C6EB4;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;
}
.show-link.hide {
    display: none;
}

.contact.section {
    background-color: #F2F2F2;
}
.contact-container {
    text-align: center;
}
