<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Imanuel Chen{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    {% block styling %}{% endblock %}
</head>
<body>
    <nav class="container-fluid">
        <div class="container nav-content">
            <div class="nav-title">
                <a href="{{ url_for('portfolio') }}" class="nav-link">Imanuel Chen</a>
            </div>
            <div class="nav-links">
                <div class="nav-item hidden-xxs">
                    <a href="{{ url_for('portfolio') }}" class="nav-link">Home</a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link">Projects</a>
                    <div class="dropdown-menu">
                        <a href="" class="nav-item nav-link">Art Admin</a>
                        <a href="" class="nav-item nav-link">MemPassGen</a>
                        <a href="" class="nav-item nav-link">Soundulate</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script>
    // Navbar code
    var dropdownLinks = document.getElementsByClassName('dropdown');

    for(var i = 0; i < dropdownLinks.length; i++) {
        dropdownLinks[i].addEventListener("click", function() {
            this.classList.toggle('open');
        });
        dropdownLinks[i].addEventListener("mouseenter", function() {
            this.classList.add('open');
        });
        dropdownLinks[i].addEventListener("mouseleave", function() {
            this.classList.remove('open');
        });
    }
    </script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
    {% block scripts %}
    {% endblock %}
</body>
</html>
