{% extends 'base.html' %}

{% block above_fold_styling %}
<style>
.section {
  padding-bottom: 2em;
}
.section-header {
  text-align: center;
  padding: 1.34em 0;
}
.section-header h1 {
  margin: 0;
}
.section-header h1, .description h1 {
  font-family: 'Open Sans', sans-serif;
}

/*
 * Header
 */

header {
  background: #CCFFDA;
  background: -webkit-linear-gradient(left top, #55D4BF, #CCFFDA);
  background: -o-linear-gradient(bottom right, #55D4BF, #CCFFDA);
  background: -moz-linear-gradient(bottom right, #55D4BF, #CCFFDA);
  background: linear-gradient(to bottom right, #55D4BF, #CCFFDA);
  box-shadow: 0px 0px 1px 1px rgb(0,0,0,0.2);

  padding-top: 5em;
}
.header-image {
  display: inline-flex;
  width: 45%;
  min-height: 1px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.portrait {
  width: 225px;
  height: 225px;

  border-radius: 50%;
  overflow: hidden;
}
.header-content {
  display: inline-block;
  position: relative;
  width: 45%;
  font-size: 1.1em;
  text-align: right;
}
.header-content p {
  margin: 1.7em 0;
}
.current-project {
  text-align: center;
  padding-bottom: 2em;
}

.project-image {
  width: 35%;
  float: right;
  box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.2);
}

/*
 * About Section
 */

.about.section {
  background-color: #F2F2F2;
}
.about-container {
  font-size: 1.1em;
  padding: 0 .5em;
}
</style>
{% endblock %}

{% block body %}
<header class="container" id="about">
  <div class="header-image">
    <div class="portrait">
      <img src="{{ url_for('static', filename='portrait.jpg') }}" />
    </div>
  </div>
  <div class="header-content">
    <p>University of Puget Sound Alumni</p>
    <p>B.S. Computer Science</p>
    <p>B.S. Mathematics</p>
    <p>Full Stack Developer</p>
    <p>Python and JavaScript Enthusiast</p>
  </div>
  <div class="current-project">
    <b>Current Project: </b>Creating a web application for RDG at the University of Puget Sound that will help with scheduling hundreds of dancers each semester.<br />
  </div>
</header>
<div class="container-fluid project section" ng-app="PortfolioProjectList">
  <div class="container" id="portfolio">
    <div class="section-header">
      <h1>Portfolio</h1>
    </div>
    <div class="project-container">
      <project-item>
        <img class="project-image" src="{{ url_for('static', filename='weekly-schedule.jpg') }}" />
        <h2><a href="{{ url_for('project', project='carly-brock-art') }}">JQuery Weekly Schedule</a></h2>
        <i>June 2017</i>
        <p>This is a responsive jQuery UI component that displays a customizable weekly schedule. Built for the RDG Scheduler project.</p>

        <p>You can view the soure code and documentation <a href="https://github.com/ihchen/weekly-schedule">here</a>.</p>

        Technology:
        <ul>
          <li>jQuery</li>
          <li>Optional Dependencies
            <ul>
              <li><a href="https://github.com/marcj/css-element-queries/blob/master/src/ResizeSensor.js">Resize Sensor</a></li>
              <li><a href="http://hammerjs.github.io/">HammerJS</a></li>
            </ul>
          </li>
        </ul>
      </project-item>
      <project-item>
        <img class="project-image" src="{{ url_for('static', filename='carly-brock-art.jpg') }}" />
        <h2><a href="{{ url_for('project', project='carly-brock-art') }}">Carly Brock Art</a></h2>
        <i>March 2017</i>
        <p>I created an art website for a friend who is an artist and wanted to display her paintings online. Nearly every page has a Google PageSpeed score of 100.</p>

        <p>You can view the source code <a href="https://github.com/ihchen/cabrock-flask">here</a>.</p>

        Technology:
        <ul>
          <li>Python (3.5.3)/Flask (0.12)</li>
          <li>JQuery (3.2.1)</li>
          <li>Bootstrap (3.3.7)</li>
          <li>Python unittest</li>
          <li>sqlite3</li>
          <li>External Javascript libraries:
          <ul>
            <li><a href="http://ashleydw.github.io/lightbox/">Ekko-Lightbox</a></li>
            <li><a href="http://rubaxa.github.io/Sortable/">Sortable</a></li>
            <li><a href="http://hammerjs.github.io/">HammerJS</a></li>
            <li><a href="http://www.jacklmoore.com/autosize/">Autosize</a></li>
            <li><a href="https://pdfobject.com/">PDFObject</a></li>
          </ul></li>
          <li>External Flask libraries:
          <ul>
            <li><a href="http://flask-sqlalchemy.pocoo.org/2.1/">Flask-SQLAlchemy</a></li>
            <li><a href="https://flask-wtf.readthedocs.io/en/stable/">Flask-WTF</a></li>
            <li><a href="https://pythonhosted.org/Flask-Mail/">Flask-Mail</a></li>
            <li><a href="https://flask-script.readthedocs.io/en/latest/">Flask-Script</a></li>
          </ul></li>
          <li>External Python libraries:
          <ul>
            <li><a href="https://python-pillow.org/">pillow</a></li>
            <li><a href="https://pypi.python.org/pypi/python-slugify">python-slugify</a></li>
          </ul></li>
        </ul>
      </project-item>
      <project-item>
        <img class="project-image" src="{{ url_for('static', filename='mock-art-admin.jpg') }}" />
        <h2><a href="{{ url_for('project', project='mock-art-admin') }}">Carly Brock Art Admin Interface</a></h2>
        <i>March 2017</i>
        <p>A mock version of the Carly Brock Art admin interface. Feel free to upload, edit, or delete anything you want on the site! Test for security holes if you want as well! If you find any bugs, please e-mail me. The site is also currently not intended for use on mobile.</p>

        <p>You can view the source code <a href="https://github.com/ihchen/mock-art-admin">here</a>.</p>
      </project-item>
      <project-item>
        <img class="project-image" src="{{ url_for('static', filename='mempassgen.jpg') }}" />
        <h2><a href="{{ url_for('project', project='mempassgen') }}">MemPassGen</a></h2>
        <i>April 2017</i>
        <p>This project was based off an idea I had to create a master password for my password manager. I wanted something easy to remember but difficult to crack, and ended up picking a memorable phrase to me and simply each character to a nearby character on the keyboard. This way, you can avoid actual words but not have to change your muscle memory too much. So I created MemPassGen, which maps your input to keys based on your finger placement on a qwerty keyboard.</p>

        <p>You can view the source code <a href="https://github.com/ihchen/mempassgen">here</a>.</p>

        Technology:
        <ul>
          <li>AngularJS (1.6.4)</li>
          <li>Bootstrap Grid System</li>
          <li>Karma/Jasmine</li>
          <li>External Javascript libraries:
          <ul>
            <li><a href="https://github.com/dropbox/zxcvbn">zxcvbn</a></li>
          </ul></li>
        </ul>
      </project-item>
      <project-item>
        <img class="project-image" src="{{ url_for('static', filename='soundulate.jpg') }}" />
        <h2><a href="{{ url_for('project', project='soundulate') }}">Soundulate</a></h2>
        <i>Spring 2016</i>
        <p>Soundulate is an ear training program to help University of Puget Sound music students taking the Aural Skills course practice their ability to distinguish different kinds of chords and scales. This was my capstone project in which I collaborated with two other fellow computer science musicians to make. The application replaced an old music program that students detested but had to purchase for the class. Soundulate was being used while we were working on it and still is.</p>

        <p>You can view the source code <a href="https://github.com/kbarber-ups/Capstone">here</a>.</p>

        Technology:
        <ul>
          <li>Pure Javascript</li>
          <li>Pure CSS</li>
          <li>PHP</li>
          <li>AWS for development</li>
          <li>External Javascript libraries:
          <ul>
            <li><a href="https://howlerjs.com/">Howler.js</a></li>
          </ul></li>
        </ul>
      </project-item>
    </div>
  </div>
</div>
<div class="container-fluid contact section" id="contact">
  <div class="section-header">
    <h1>Contact</h1>
  </div>
  <div class="contact-container">
    <p>imanuelhchen@gmail.com</p>
    <p><a href="https://www.linkedin.com/in/imanuelchen">www.linkedin.com/in/imanuelchen</a></p>
    <p><a href="https://www.github.com/ihchen">www.github.com/ihchen</a></p>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
angular.module('PortfolioProjectList', [])
.directive('projectItem', function($timeout) {
  return {
    restrict: 'E',
    replace: true,
    transclude: true,
    template: `
      <div class="project-item">
        <div class="project-item-contents">
          <ng-transclude></ng-transclude>
        </div>
        <div class="show-link">Show More</div>
        <div class="show-link hide">Show Less</div>
      </div>
    `,
    link: function(scope, element, attr) {
      var contentsHeight = '1000px';
      var showMoreBtn = angular.element(element.children()[1]);
      var showLessBtn = angular.element(element.children()[2]);

      // Wait until transclude DOM finishes loading to determine height
      $timeout(function() {
        contentsHeight = element.children()[0].offsetHeight+'px';
      });

      showMoreBtn.on('click', function() {
        showMoreBtn.toggleClass('hide');
        showLessBtn.toggleClass('hide');
        element.css('max-height', contentsHeight);
      });
      showLessBtn.on('click', function() {
        showMoreBtn.toggleClass('hide');
        showLessBtn.toggleClass('hide');
        element.removeAttr('style');
      });
    }
  }
});
</script>
{% endblock %}
