{% extends 'base.html' %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}

{% block body %}
<header class="container-fluid">
    <div class="container">
        <div class="portrait">
            <img src="{{ url_for('static', filename='portrait.jpg') }}" />
        </div>
        <div class="description">
            I graduated from the University of Puget Sound with a B.S. in Computer Science and a B.S. in Mathematics with a 3.72 GPA. Currently, I spend my days coding and learning whatever I can with the hopes that I will end up in a company where I can use my computer science skills to contribute to an awesome project.
        </div>
    </div>
</header>
<div class="container-fluid project section" ng-app="PortfolioProjectList">
    <div class="container">
        <div class="section-header">
            <h1>Projects</h1>
        </div>
        <div class="project-container">
            <project-item>
                <h2><a href="">Art Admin Interface</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Just a little longe br cuase i want to test something wow this isn't lorem ismpuieng but what ofwei ns.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </project-item>
            <project-item>
                <h2><a href="">Art Admin Interface</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Just a little longe br cuase i want to test something wow this isn't lorem ismpuieng but what ofwei ns.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </project-item>
        </div>
    </div>
</div>
<div class="container-fluid about section">
    <div class="container">
        <div class="section-header">
            <h1>About This Page</h1>
        </div>
        <div class="about-container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
angular.module('PortfolioProjectList', [])
.directive('projectItem', function() {
    return {
        restrict: 'E',
        replace: true,
        transclude: true,
        template: `
            <div class="project-item">
                <div class="project-item-contents">
                    <ng-transclude></ng-transclude>
                </div>
                <div class="show-link more">Show More</div>
                <div class="show-link less hide">Show Less</div>
            </div>
        `,
        link: function(scope, element, attr) {
            var showMoreBtn = angular.element(element.children()[1]);
            var showLessBtn = angular.element(element.children()[2]);

            showMoreBtn.on('click', function() {
                showMoreBtn.toggleClass('hide');
                showLessBtn.toggleClass('hide');
                element.css('height', 'auto');
                element.css('overflow', 'auto');
            });
            showLessBtn.on('click', function() {
                showMoreBtn.toggleClass('hide');
                showLessBtn.toggleClass('hide');
                element.removeAttr('style');
            })
        }
    };
});
</script>
{% endblock %}
