{% extends 'base.html' %}

{% block above_fold_styling %}
<style>
nav {
    position: fixed;
}
.nav-tab {
    height: 20px;
    width: 100px;

    display: block;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}
.nav-tab-left,.nav-tab-middle,.nav-tab-right {
    display: inline-block;
}
.nav-tab-middle {
    width: 60%;
    height: 100%;
    background-color: #222222;
}
.nav-tab-left {
    width: 10%;
    height: 100%;
    background-color: #222222;
    border-radius: 0 0 0 100%;
}
.nav-tab-left:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 50%;
    left: -8.9%;
    top: -1px;
    border: 1px solid #222222;
    border-top-right-radius: 100%;
    border-width: 1px 1px 0 0;
    border-color: #222222;
    box-shadow: 2px -2px 0 #222222;
}
.nav-tab-right {
    width: 10%;
    height: 100%;
    background-color: #222222;
    border-radius: 0 0 100% 0;
}
.nav-tab-right:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 50%;
    right: 11.1%;
    top: -1px;
    border: 1px solid #222222;
    border-top-left-radius: 100%;
    border-width: 1px 0 0 1px;
    border-color: #222222;
    box-shadow: -2px -2px 0 #222222;
}
</style>
{% endblock %}

{% block body %}

{% endblock %}
