{% extends 'base.html' %}

{% block above_fold_styling %}
<style>
nav {
    position: fixed;
    top: 0;
    transition: top 1s;
}
nav.hide {
    top: -3.4em;
}
.nav-tab {
    height: 16px;
    width: 100px;

    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}
.nav-tab-left,.nav-tab-middle,.nav-tab-right,.nav-tab-left-left,.nav-tab-right-right {
    display: inline-block;
}
.nav-tab-left,.nav-tab-middle,.nav-tab-right {
    background-color: #222222;  /* If change, change left left and right right too */
    height: 100%;
}
.nav-tab-middle {
    width: 60%;
    position: relative;
}
.nav-tab-left,.nav-tab-right {
    width: 10%;
}
.nav-tab-left {
    left: -10%;
    border-radius: 0 0 0 100%;
}
.nav-tab-right {
    border-radius: 0 0 100% 0;
    right: -10%;
}
.nav-tab-left-left,.nav-tab-right-right {
    width: 10%;
    height: 50%;
    position: relative;
    top: -1px;
    border: 1px solid #222222;
}
.nav-tab-left-left {
    left: 2%;
    border-top-right-radius: 100%;
    border-width: 1px 1px 0 0;
    box-shadow: 2px -2px 0 #222222;
}
.nav-tab-right-right {
    right: 2%;
    border-top-left-radius: 100%;
    border-width: 1px 0 0 1px;
    box-shadow: -2px -2px 0 #222222;
}
.nav-tab-middle-left,.nav-tab-middle-right {
    color: white;
    position: absolute;
    transform: rotate(90deg);
    cursor: default;
}
.nav-tab-middle-left {
    left: 2px;
}
.nav-tab-middle-right {
    right: 0;
}
.nav-tab-middle-left.hide,.nav-tab-middle-right.hide {
    display: none;
}
</style>
{% endblock %}

{% block body %}

{% endblock %}

{% block scripts %}
<script>
var navbar = document.querySelector('nav');
var navtab = document.querySelector('.nav-tab');
var navtabArrows = navtab.children[2].children;

hideNavBar();

navbar.addEventListener('mouseenter', function() {
    showNavBar();
});
navbar.addEventListener('mouseleave', function() {
    hideNavBar();
});
navtab.addEventListener('click', function() {
    toggleNavBar();
})

function hideNavBar() {
    navbar.classList.add('hide');
    navtabArrows[0].classList.add('hide');
    navtabArrows[1].classList.remove('hide');
    navtabArrows[2].classList.add('hide');
    navtabArrows[3].classList.remove('hide');
}

function showNavBar() {
    navbar.classList.remove('hide');
    navtabArrows[0].classList.remove('hide');
    navtabArrows[1].classList.add('hide');
    navtabArrows[2].classList.remove('hide');
    navtabArrows[3].classList.add('hide');
}

function toggleNavBar() {
    navbar.classList.toggle('hide');
    navtabArrows[0].classList.toggle('hide');
    navtabArrows[1].classList.toggle('hide');
    navtabArrows[2].classList.toggle('hide');
    navtabArrows[3].classList.toggle('hide');
}
</script>
{% endblock %}
